<p style="color: green"><%= notice %></p>

<div id="santris">
  <% @santris.each do |santri| %>
    <%= render santri %>
    <p>
      <%= link_to "Show this post", santri %>
    </p>
  <% end %>
</div>

<%= link_to "New Post", new_santri_path %>
